# Backend configurations
PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=web_dkv
BASE_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000

# Frontend configurations
REACT_APP_API_URL=http://localhost:5000
